<div class="container">
  <ion-menu contentId="main-content">

    <ion-content class="ion-padding">

                <div class="toolbar">
                  <a class="button" id="side-btn" href="/home">Home</a> <br>
                <a class="button" id="side-btn" href="/service">Service</a> <br>
                <a class="button" id="side-btn" href="/exp">Work</a> <br>
                <a class="button" id="side-btn" href="/reachus">ReachUs</a>
                </div>

    </ion-content>
  </ion-menu>

      <ion-header [translucent]="true">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
           
          <ion-col size="9" size-lg="9" size-md="9" size-sm="9">           
            <ion-avatar>
         <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <span style="padding: 1%;"> Akshay</span>
              
            </ion-avatar>
          </ion-col>

          <ion-col size="3" size-lg="3" size-md="3" size-sm="3">
                  <div>
                    <ion-buttons slot="end">
                      <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                  </div>

          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="intro-part" id="main-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
          <h1 style="color: white; font-weight: 700; font-size: 30px; padding: 2%;">
            Welcome to <span style="color:#FF5C00 ; font-family: Libre Franklin;"> <b>[Your Freelance Web Developer
                Business]!</b> </span>
          </h1>
          <p style="color: white; font-family: Libre Franklin; line-height: 1.7; padding: 2%; font-size: 22px;">
            At [Your Business Name], we specialize in providing top-notch web development services to help businesses
            establish a strong online presence and achieve their digital goals. With a team of experienced professionals
            and a passion for innovation, we deliver customized solutions tailored to your unique needs.

          </p>
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="12" size-sm="12">
          <video class="video" src="\assets\watermarked_preview.mp4" [muted]="'muted'" autoplay muted loop></video>
        </ion-col>
      </ion-row>

      <h2 style="color: white; text-align: center; font-weight: 700; font-size: 36px;">Our <span
          style="color: #FF5C00;">Services</span>
      </h2>

      <ion-row>
        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <script src="https://cdn.lordicon.com/lordicon.js"></script>
                  <img src="\assets\icon\icons8-web.gif" alt="">
                  Website <span style="color: #FF5C00;">Development</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Transform your ideas into stunning websites that captivate your audience and drive
                results. From simple landing pages to complex web portals, we handle every aspect of website development
                with precision and creativity.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <img class="image-icon" src="\assets\icon\developer-centerpublic-api-svgrepo-com.svg" alt="">
                  Mean Stack <span style="color: #FF5C00;">Development</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Craft engaging user interfaces. Our
                frontend development expertise ensures your website stands out with intuitive navigation, responsive
                design, and pixel-perfect layouts. We leverage backend technologies to build efficient
                server-side applications, databases, and APIs.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <img class="image-icon" src="\assets\icon\ecommerce-website-commerce-and-shopping-2-svgrepo-com.svg"
                    alt="">
                  E-commerce <span style="color: #FF5C00;">Solutions</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Launch your online store and capitalize on the booming e-commerce market. Our e-commerce solutions
                include feature-rich platforms, secure payment gateways, inventory management systems, and personalized
                shopping experiences to drive sales and customer satisfaction.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <img class="image-icon" src="\assets\icon\custom-apps-svgrepo-com.svg" alt="">
                  Custom Web <span style="color: #FF5C00;">Applications</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Unlock new possibilities with custom web applications built to streamline your business processes and
                enhance productivity. Whether it's CRM systems, project management tools, or data analytics platforms,
                we develop tailored solutions that align with your objectives.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <img class="image-icon" src="\assets\icon\responsive-svgrepo-com.svg" alt="">
                  Responsive <span style="color: #FF5C00;">Design</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Ensure your website looks and functions flawlessly across all devices and screen sizes. Our responsive
                design approach guarantees a seamless user experience, optimized for desktops, tablets, and smartphones,
                driving engagement and conversions.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
          <ion-card color="dark" class="card">
            <ion-card-header>
              <ion-card-title>
                <h2 style="font-size: 30px; font-family: Libre Franklin;">
                  <img class="image-icon" src="\assets\icon\online-course-svgrepo-com.svg" alt="">
                  Web Development <span style="color: #FF5C00;">Online Courses</span>
                </h2>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p style="font-family: Libre Franklin; line-height: 1.7; font-size: 17px;">
                Looking to enhance your skills or kickstart your career in web development? Our online courses offer
                comprehensive training in frontend and backend technologies, covering HTML, CSS, JavaScript, React,
                Angular, Node.js, and more. Whether you're a beginner or an experienced developer, our courses provide
                valuable insights and hands-on experience to help you succeed in the ever-evolving field of web
                development.

              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>


      <h2 style="color: white; text-align: center; font-weight: 700; font-size: 36px;">Why Choose <span
          style="color: #FF5C00;">Us?</span>
      </h2>

      <ion-row>

        <ion-col size="12" size-sm="12" size-lg="4" size-md="5" style="margin: 2%;">
          <span style="color: #FF5C00; font-size: 30px;"> Expertise: </span>
          <p style="color: white; font-family: Libre Franklin; font-size: 26px; line-height: 1.7;">
            Our team comprises skilled professionals with extensive experience in web development and a
            track record of delivering successful projects.
          </p>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="1">

        </ion-col>

        <ion-col size="12" size-sm="12" size-lg="4" size-md="5">
          <span style="color: #FF5C00; font-size: 30px;"> Customization: </span>
          <p style="color: white; font-family: Libre Franklin; font-size: 26px; line-height: 1.7;">
            We understand that every business is unique, and we tailor our solutions to meet your specific requirements
            and objectives
          </p>
        </ion-col>
        <ion-col size="12" size-sm="3">4</ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12" size-sm="12" size-lg="4" size-md="6"></ion-col>
        <ion-col size="12" size-sm="12" size-lg="4" size-md="6" style="margin: 2%;">
          <span style="color: #FF5C00; font-size: 30px;"> Support: </span>
          <p style="color: white; font-family: Libre Franklin; font-size: 26px; line-height: 1.7;">
            We provide ongoing support and guidance to our clients, ensuring their satisfaction and long-term success.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12" style="background-color:#222423;">
          <h2 style="color: white; text-align: center; font-weight: 700; font-size: 36px;">Contact <span
              style="color: #FF5C00;">Us!</span> </h2>
          <ion-row>
            <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
              <ion-input label="Email" label-placement="floating" placeholder="Enter Email"></ion-input>
            </ion-col>
            <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
              <ion-input label="Name" label-placement="floating" placeholder="Enter Name"></ion-input>
            </ion-col>
            <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
              <ion-input label="Phone " label-placement="floating" type="number" placeholder="000"></ion-input>
            </ion-col>
            <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
              <ion-input label="City or State" label-placement="floating" placeholder="Enter City or State"></ion-input>
            </ion-col>

            <ion-textarea label="Content" labelPlacement="floating" placeholder="Enter text"></ion-textarea>

            <button class="button">Submit</button>

          </ion-row>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>




</div>