<div class="container">
 

  <ion-menu contentId="main-content">

    <ion-content class="ion-padding">

                <div class="toolbar">
                  <a class="button" id="side-btn" href="/home">Home</a> <br>
                <a class="button" id="side-btn" href="/service">Service</a> <br>
                <a class="button" id="side-btn" href="/exp">Work</a> <br>
                <a class="button" id="side-btn" href="/reachus">ReachUs</a>
                </div>

    </ion-content>
  </ion-menu>

      <ion-header [translucent]="true">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
           
          <ion-col size="9" size-lg="9" size-md="9" size-sm="9">           
            <ion-avatar>
         <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <span style="padding: 1%;"> Akshay</span>
              
            </ion-avatar>
          </ion-col>

          <ion-col size="3" size-lg="3" size-md="3" size-sm="3">
                  <div>
                    <ion-buttons slot="end">
                      <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                  </div>

          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>


<div class="content" id="main-content">


  <h2 style="font-size: 40px; color: white; padding: 2%;">Featured
    <span style="color: #FF5C00;">
      Projects
    </span>
  </h2>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12">
        <ion-item color="dark">
          <ion-label class="table-label">Project</ion-label>
          <ion-label class="table-label">Build With</ion-label>
          <ion-label class="table-label">Preview</ion-label>
          <ion-label class="table-label">Link</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <ion-item color="dark">

          <ion-label>
            <h1 style="font-family: Libre Franklin;">Wealth-Bridge <span style="color: #FF5C00;">
              Consultancy
            </span> </h1>
          </ion-label>


          <ion-label>


            <ion-chip color="secondary">

              <ion-label>Angular</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>HTML</ion-label>
              <ion-icon name="logo-html5"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>CSS</ion-label>
              <ion-icon name="logo-css3"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>JavaScript</ion-label>
              <ion-icon name="logo-javascript"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>Angular Material</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>BootStrap</ion-label>
              <ion-icon name="desktop-outline"></ion-icon>
            </ion-chip>


          </ion-label>


          <ion-label>
            <p style="color: white; line-height: 1.7; font-family: Libre Franklin; font-size: 17px;">
              Here's a Web application for a accounting firm web personalization. Also we have a software for its
              pipeline project. This web application have multiple features and build with Angular 13.
              With strong animations and professional css as per Quatar regulations and with the
              Customer-obsessed Themes and System design as per their standards.
            </p>
            <!-- <img class="img-pro" alt="Silhouette of mountains" src="\assets\wealth.png" /> -->
          </ion-label>


          <ion-label>Link</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <ion-item color="dark">

          <ion-label>
            <h1 style="font-family: Libre Franklin;">Shop-
             <span style="color: #FF5C00;">EZ</span> </h1>
          </ion-label>


          <ion-label>


            <ion-chip color="secondary">

              <ion-label>Angular</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>HTML</ion-label>
              <ion-icon name="logo-html5"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>CSS</ion-label>
              <ion-icon name="logo-css3"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>JavaScript</ion-label>
              <ion-icon name="logo-javascript"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>Angular Material</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>BootStrap</ion-label>
              <ion-icon name="desktop-outline"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Ionic</ion-label>
              <ion-icon name="logo-ionic"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Web Secure</ion-label>
              <ion-icon name="document-lock-outline"></ion-icon>
            </ion-chip>


          </ion-label>


          <ion-label>
            <p style="color: white; line-height: 1.7; font-family: Libre Franklin; font-size: 17px;">
              Here's a small text description for the ShopEZ. This is a E-Commerce for men and women specalized for
              Stylish and look feel rich products arena. build with user friendly and catches all user details,
              for strong recommendation according to their previous searched products.
            </p>
          </ion-label>


          <ion-label>Link</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <ion-item color="dark">

          <ion-label>
            <h1 style="font-family: Libre Franklin;">Duce
             <span style="color: #FF5C00;">Desk</span> </h1>
          </ion-label>


          <ion-label>


            <ion-chip color="secondary">

              <ion-label>Angular</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>HTML</ion-label>
              <ion-icon name="logo-html5"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>CSS</ion-label>
              <ion-icon name="logo-css3"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>JavaScript</ion-label>
              <ion-icon name="logo-javascript"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>Angular Material</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>BootStrap</ion-label>
              <ion-icon name="desktop-outline"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Ionic</ion-label>
              <ion-icon name="logo-ionic"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Web Secure</ion-label>
              <ion-icon name="document-lock-outline"></ion-icon>
            </ion-chip>


          </ion-label>


          <ion-label>
            <p style="color: white; line-height: 1.7; font-family: Libre Franklin; font-size: 17px;">
            Here's a small text description for the DuceDesk. This is a agent soft phone,
            Integarted with the Avaya Platform. Connected with Websocket API for response and data
            storage.
          </p>

          </ion-label>


          <ion-label>Link</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <ion-item color="dark">

          <ion-label>
            <h1 style="font-family: Libre Franklin;">Location
             <span style="color: #FF5C00;">Pro</span> </h1>
          </ion-label>


          <ion-label>


            <ion-chip color="secondary">

              <ion-label>Angular</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>HTML</ion-label>
              <ion-icon name="logo-html5"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>CSS</ion-label>
              <ion-icon name="logo-css3"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>JavaScript</ion-label>
              <ion-icon name="logo-javascript"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>Angular Material</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>BootStrap</ion-label>
              <ion-icon name="desktop-outline"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Ionic</ion-label>
              <ion-icon name="logo-ionic"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Web Secure</ion-label>
              <ion-icon name="document-lock-outline"></ion-icon>
            </ion-chip>


          </ion-label>


          <ion-label>
            <p style="color: white; line-height: 1.7; font-family: Libre Franklin; font-size: 17px;">
            Here's a small text description for the LocationPro. Due to customer agreement we couldnt show off the
            design and theme in thumbnail . This is a Location detector which is passed to Avaya Contact Center .
            Integrated with AXP Widgets. In Avaya Cloud Software premises.
          </p>
          </ion-label>


          <ion-label>Link</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-sm="12">
        <ion-item color="dark">

          <ion-label>
            <h1 style="font-family: Libre Franklin;">Service
             <span style="color: #FF5C00;">Pro</span> </h1>
          </ion-label>


          <ion-label>


            <ion-chip color="secondary">

              <ion-label>Angular</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>HTML</ion-label>
              <ion-icon name="logo-html5"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>CSS</ion-label>
              <ion-icon name="logo-css3"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>JavaScript</ion-label>
              <ion-icon name="logo-javascript"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>Angular Material</ion-label>
              <ion-icon name="logo-angular"></ion-icon>
            </ion-chip>
            <ion-chip color="secondary">

              <ion-label>BootStrap</ion-label>
              <ion-icon name="desktop-outline"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Ionic</ion-label>
              <ion-icon name="logo-ionic"></ion-icon>
            </ion-chip>

            <ion-chip color="secondary">

              <ion-label>Web Secure</ion-label>
              <ion-icon name="document-lock-outline"></ion-icon>
            </ion-chip>


          </ion-label>


          <ion-label>
            <p style="color: white; line-height: 1.7; font-family: Libre Franklin; font-size: 17px;">
            Here's a small text description for the ServicePro. This is a client requirement for, Service providing
            page
            with strong Css and Attractive animations for serive page with many strong features. And the pages will
            route
            to the page of the customer Landing Page.
          </p>
          </ion-label>


          <ion-label>Link</ion-label>
        </ion-item>
      </ion-col>






      
    </ion-row>
  </ion-grid>
    
</div>
</div>