<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12">

        <p style="font-size: 40px; color: white; padding-left: 2%;">
          My <b style="color: #FF5C00;">Skills</b>
        </p>
        <ion-grid>
          <ion-row>
            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-html5"></ion-icon>
                    <ion-label style="color: #FF5C00;">HTML</ion-label>
            </ion-col>
            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-css3"></ion-icon>
                    <ion-label style="color: #FF5C00;">CSS</ion-label>
            </ion-col>
            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-javascript"></ion-icon>
              <ion-label style="color: #FF5C00;">JavaScript</ion-label>
            </ion-col>
            <ion-col class="skill-col"  size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-angular"></ion-icon>
                    <ion-label  style="color: #FF5C00;">Angular</ion-label>
            </ion-col>

            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-ionic"></ion-icon>
              <ion-label  style="color: #FF5C00;">Ionic</ion-label>
            </ion-col>

            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-github"></ion-icon>
              <ion-label  style="color: #FF5C00;">GitHub</ion-label>
            </ion-col>
          
            <ion-col class="skill-col" size="12" size-sm="12" size-lg="3">
              <ion-icon name="logo-bitbucket"></ion-icon>
              <ion-label  style="color: #FF5C00;">BitBucket</ion-label>
            </ion-col>
           

          </ion-row>
    
        </ion-grid>
      
   

    
        

        <!-- <ion-card class="card">
          <ion-card-header>
            <ion-card-title style="text-align: center; font-size: 29px;">
              <img style="width: 40px; height: 40px;" src="\assets\icon\skills.png" alt=""> <b class="animated-text">SKILLS & EXPERIENCE</b></ion-card-title>
            <ion-card-subtitle style="text-align: center; color: black;">A PROBLEM IS A CHANCE FOR YOU TO DO YOUR BEST.
            </ion-card-subtitle>
          </ion-card-header>

          <ion-row>
            <ion-col size="12" size-lg="6">
              <ion-card-content >
                <img style="width: 40px; height: 40px;" src="\assets\expert-icon.png" alt="">

                <h1 style="color: black; font-size: 22px; font-weight: 600;">
                  Expertise</h1>
                <p class="card-content">

                  The main area of expertise is front end development (client side of the web). HTML, CSS, JS, building small
                  and medium web applications with Vue or React, custom plugins, features, animations, and coding interactive
                  layouts. I have also full-stack developer experience with one of the most popular open source CMS on the web
                  - WordPress Visit my Linkedin for more details.
                </p>
                
              </ion-card-content>
            </ion-col>

            <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-lg="">
                    <ion-icon name="logo-html5"></ion-icon>
                    <ion-label>HTML</ion-label>
                    <ion-icon name="logo-css3"></ion-icon>
                    <ion-label>CSS</ion-label>
                    <ion-icon name="logo-javascript"></ion-icon>
                    <ion-label>JavaScript</ion-label>
                    <ion-icon name="logo-angular"></ion-icon>
                    <ion-label>Angular</ion-label>
                    <ion-icon name="logo-ionic"></ion-icon>
                    <ion-label>Ionic</ion-label>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-label>GitHub</ion-label>
                    <ion-icon name="logo-bitbucket"></ion-icon>
                    <ion-label>BitBucket</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            
            </ion-col>


            

          </ion-row>
          
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


 <!-- <ion-col size="12" size-sm="3" size-md="4" size-lg="4">

        <ion-card class="repo-card" color="dark">
          <img alt="Git Repository Projects" style="height: 250px;" src="\assets\icon\developer.avif" />
          <ion-card-header>
            <ion-card-title>
              <span style="font-weight: 600; font-family: serif;">
                Git Repo
              </span> </ion-card-title>
          </ion-card-header>

          <ion-card-content style="color: #eadbc1; font-family:  URW Palladio L; font-size: 18px;">
            Here's my Git Repository of my projects which present in internal server of the particular organizations,
            that i have worked.
          </ion-card-content>
          <ion-button color="medium" class="view-repo" id="open-loading" (click)="openGit()">
            <div class="ion-activatable ripple-parent rounded-rectangle">
              <ion-ripple-effect></ion-ripple-effect>
            </div>
            View Projects
          </ion-button>


          <ion-loading trigger="open-loading" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
        </ion-card>

      </ion-col> -->