<div class="container">

  <ion-header [translucent]="true">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
          <ion-col size="6" size-lg="6" size-md="6">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <span style="padding: 1%;"> Akshay</span>
            </ion-avatar>
          </ion-col>

          <ion-col size="6" size-lg="6" size-md="6">
            <span class="toolbar">
              <a href="/home"><ion-icon name="home-outline"></ion-icon> Home</a> </span> <span class="toolbar"> <a href="/service">
                <ion-icon name="construct-outline"></ion-icon> Service</a> </span> <span class="toolbar"> <a href="/exp">
                <ion-icon name="code-working-outline"></ion-icon> Work</a> </span> <span class="toolbar"> <a href="/reachus">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Reach Us</a> </span>
          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row class="middle-content1">

      <ion-col size="12" size-sm="12" size-md="12" size-lg="4" class="fixed-column">

        <ion-card color="dark" class="card1">
          <ion-card-title style="padding: 3%; font-family: sans-serif; font-weight: 600;">Akshay</ion-card-title>
          <img style="width: 44%; border-radius: 50%; padding: 2%;" alt="Silhouette of mountains"
            src="\assets\frontend-dev.avif" />
          <ion-card-header>

            <ion-card-subtitle>Mean Stack Developer</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p style="text-align: center; line-height: 1.7; font-family: Libre Franklin; font-size: 17px; padding: 4%;">
              Strong with Front End Development. Mean Stack Developer. Loves to Write and Learn.
            </p>
            <span style="margin-top: 3%;">
              <ion-icon style="width: 30%; height: 40px;" name="logo-linkedin"></ion-icon>
              <ion-icon style="width: 30%; height: 40px;" name="logo-github"></ion-icon>
            </span>

          </ion-card-content>
        </ion-card>

     
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="8" class="scrollable-column">




        <div class="contact-me">
          <h2 style="font-size: 40px; color: white; padding: 2%;">Contact
            <b style="color: #FF5C00;">
              Me
            </b>
          </h2>

          <p style="padding-left: 2%; color: white;">Lets get in touch</p>

          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Email" label-placement="floating" placeholder="Enter Email"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Name" label-placement="floating" placeholder="Enter Name"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Phone " label-placement="floating" type="number" placeholder="000"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="City or State" label-placement="floating"
                  placeholder="Enter City or State"></ion-input>
              </ion-col>

              <ion-textarea label="Content" labelPlacement="floating" placeholder="Enter text"></ion-textarea>

              <button class="button">Submit</button>

            </ion-row>
          </ion-grid>

        </div>


      </ion-col>
    </ion-row>



  </ion-grid>

</div>