
<div class="container">
  
  <ion-menu contentId="main-content">

    <!-- <ion-content class="ion-padding"> -->
  
                <div class="toolbar">
                  <a class="button" id="side-btn" href="/home">Home</a> <br>
                  <a class="button" id="side-btn" href="/service">Service</a> <br>
                  <a class="button" id="side-btn" href="/exp">Work</a> <br>
                  <a class="button" id="side-btn" href="/home">Home</a>
                </div>
  
    <!-- </ion-content> -->
  </ion-menu>

      <ion-header [translucent]="true">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
           
          <ion-col size="9" size-lg="9" size-md="9" size-sm="9">           
            <ion-avatar>
         <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <span style="padding: 1%;"> Akshay</span>
              
            </ion-avatar>
          </ion-col>

          <ion-col size="3" size-lg="3" size-md="3" size-sm="3">
                  <div>
                    <ion-buttons slot="end">
                      <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                  </div>

          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-grid >
    <ion-row class="middle-content1" id="main-content">

      <ion-col size="12" size-sm="12" size-md="12" size-lg="4" class="fixed-column">

        <ion-card color="dark" class="card1">
          <ion-card-title style="padding: 3%; font-family: sans-serif; font-weight: 600;">Akshay</ion-card-title>
          <img style="width: 44%; border-radius: 50%; padding: 2%;" alt="Silhouette of mountains"
            src="\assets\frontend-dev.avif" />
          <ion-card-header>

            <ion-card-subtitle>Mean Stack Developer</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p style="text-align: center; line-height: 1.7; font-family: Libre Franklin; font-size: 17px; padding: 4%;">
              Strong with Front End Development. Mean Stack Developer. Loves to Write and Learn.
            </p>
            <span style="margin-top: 3%;">
              <ion-icon style="width: 30%; height: 40px;" name="logo-linkedin"></ion-icon>
              <ion-icon style="width: 30%; height: 40px;" name="logo-github"></ion-icon>
            </span>

          </ion-card-content>
        </ion-card>

     
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="8" class="scrollable-column">




        <div class="contact-me">
          <h2 style="font-size: 40px; color: white; padding: 2%;">Contact
            <b style="color: #FF5C00;">
              Me
            </b>
          </h2>

          <p style="padding-left: 2%; color: white;">Lets get in touch</p>

          <ion-grid>
            <ion-row>
              <form [formGroup]="contactForm">

                <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                  <ion-input label="Email" label-placement="floating" placeholder="Enter Email" formControlName="email"></ion-input>
                </ion-col>
                <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                  <ion-input label="Name" label-placement="floating" placeholder="Enter Name" formControlName="name"></ion-input>
                </ion-col>
                <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                  <ion-input label="Phone " label-placement="floating" type="number" placeholder="000" formControlName="phone"></ion-input>
                </ion-col>
                <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                  <ion-input label="City or State" label-placement="floating"
                    placeholder="Enter City or State" formControlName="city"></ion-input>
                </ion-col>
  
                <ion-textarea label="Content" labelPlacement="floating" placeholder="Enter text" formControlName="text"></ion-textarea>
                <button class="button" (click)="submitForm()">
                  <ion-icon name="bookmark-outline"></ion-icon>
                  Submit</button>

              </form>
              <!-- <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Email" label-placement="floating" placeholder="Enter Email"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Name" label-placement="floating" placeholder="Enter Name"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="Phone " label-placement="floating" type="number" placeholder="000"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                <ion-input label="City or State" label-placement="floating"
                  placeholder="Enter City or State"></ion-input>
              </ion-col>

              <ion-textarea label="Content" labelPlacement="floating" placeholder="Enter text"></ion-textarea>

              <button class="button">Submit</button> -->

            </ion-row>
          </ion-grid>

        </div>

        


      </ion-col>
      <ion-footer >
        <ion-toolbar color="dark" size="12" size-lg="12" size-sm="12" size-md="12">
          <ion-title>
  
            <span style="text-align: center;">
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
              </svg> 2024 Akshay</p>
            </span>
            <div style="text-align: center;">
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;" href="/home"><ion-icon name="home-outline"></ion-icon> Home</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;" href="/service">
                  <ion-icon name="construct-outline"></ion-icon> Service</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;"
                href="/exp">
                <ion-icon name="code-working-outline"></ion-icon> Work</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;"
                href="/reachus">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Reach Us</a>
              </span>
            </div>
           
               
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-row>



  </ion-grid>

</div>