
.toolbar {
    // margin-right: 10px; /* Adjust spacing between toolbar items */
  }
  
  /* Media query for small screens (e.g., smartphones) */
  @media only screen and (max-width: 576px) {
    .toolbar {
      display: block; /* Change from inline to block for stacked layout */
      margin-bottom: 10px; /* Add spacing between stacked toolbar items */
    }
  }
  
  
  ion-header {
      position: fixed;
      
  }

  .container {
      overflow-y: scroll;
      display: flex;
  }

  .fadeInElement{
      padding-left: 20px;
  }
  
    .container {
      background-color: black;
      display: flex;
      background-image: url("/assets/counter-background.png");
    }
 
  .card1{
    background-image: url("/assets/counter-background.png");
  }
  .img-card-container {
    display: inline-block;
  }
  
  .img-card {
    background: radial-gradient(circle, #77a1c4, #92b3cf, #adc6db, #bbd0e1, #c8d9e7);
  
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card:hover{
    background:  linear-gradient(to right, #3a96a9, #61abba, #88c0cb, #9ccad4, #c8d9e7);
    cursor: pointer;
    transform: scale(1.005);
  }
  ion-col[size-lg="5"]{
    // position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }

  
    .middle-content1 {
      margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    @media only screen and (max-width: 576px) {
      .middle-content1 {
        
        margin-top: 50%; /* Add spacing between stacked toolbar items */
      }
    }

    .repo-card {
      transition: transform 0.3s ease;
    }
    .repo-card:hover{
      cursor: pointer;
      transform: scale(1.05);
    }

    .view-work{
      display: inline-block;
      padding: 5px 10px;
      background-color: #FF5C00; 
      color: #ffffff; 
      text-decoration: none;
      border-radius: 5px;

      transition: transform 0.3s ease;
    }
    .view-work:hover{
      // transform: scale(1.9);
      transform: translateY(-3px);
    }
  
  .overlay_sides.overlay_sides_right .nav__wrapper {
      display: block;
  }
  .overlay_sides.overlay_sides_right .nav__wrapper #side_nav {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
  }
  
  .overlay_sides.overlay_sides_right .nav__wrapper #side_nav:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      border-radius: 50px;
      height: 100%;
      display: block;
      opacity: .4;
      background-color: #f0f8ff;
  }
  .overlay_sides.overlay_sides_right .nav__wrapper #side_nav li {
      transition: all .5s ease-in-out;
  }
  
  // blink
  
  @keyframes blinkAnimation {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }
  //   #light:hover{
  //     cursor: pointer;
  //     animation: blinkAnimation 0.5s infinite;
  //   }
    #bulb {
      animation: blinkAnimation 0.5s 3; /* Blink for 5 seconds and repeat infinitely */
    }
    #bulb:hover {
      animation: blinkAnimation 0.5s infinite;
      cursor: pointer;
    }
    
    .beam {
      animation: beamAnimation 0.5s 3; /* Add a similar animation for the beam */
    }
    .beam:hover{
      cursor: pointer;
      animation: beamAnimation 0.5s infinite;
    }
    @keyframes beamAnimation {
      0% { opacity: 0.45; }
      50% { opacity: 0; }
      100% { opacity: 0.45; }
    }
    
    #pc:hover {
      cursor: pointer;
      transition: all 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
      transform: scale(1.01); /* Adjust the scale factor for the zoom effect */
    }
  
    // ripple effect
  
    .ripple-parent {
      display: flex;
      align-items: center;
      justify-content: center;
    
      position: relative;
      overflow: hidden;
    
      border: 1px solid #ddd;
    
      user-select: none;
    }
    
    // .rounded-rectangle {
    //   width: 250px;
    //   height: 75px;
    //   border-radius: 8px;
    // }
  
    .fixed-column {
      flex: 0 0 40%; 
    position: fixed;
    margin-top: 3%;
    }
    
    .scrollable-column {
      flex: 0 0 60%; /* Adjust the width based on your requirements */
      margin-left: auto; /* Push the right column to the right */
      overflow-y: auto;
      margin-top: 5%;
    }
  
    @media screen and (max-width: 768px) {
   
      .fixed-column{
        flex-direction: column;
        position: relative; 
        margin-top: 20%;/* Take full width on smaller screens */
        
      }
      .scrollable-column {
        flex:1;
      /* Remove margin to stack columns on top of each other */
      }
     
    }
    
   ion-input{
    // background-color: #FF5C00;
    color: #FF5C00;
   }
   ion-textarea{
    color: #FF5C00;
    padding-left: 2%;
   }
   /* Base styles for the button */
   .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: #FF5C00;
    padding: 2%;
    margin: 2%;
    // width: 100%;
    cursor: pointer;
  }
  form {
    z-index: 0;
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Active (pressed) effect */
  .button:active {
    transform: translateY(1px);
  }
  .toolbar {
    padding: 2%;
    color: #FF5C00;
  }
  
  // TO TOGGLE
  
  .menu-icon {
    text-align: right;
    display: none; /* Initially hide menu icon */
  }
  
  .menu-icon-visible {
    display: block; /* Show menu icon on small screens */
  }
  
  
  
  // .toolbar-container-visible {
  //   display: block; /* Show toolbar content on small screens */
  // }
  
  /* Add any additional styling as needed */
  .Feature-Project span{
    font-size: 20px;
    position: absolute;
    // top: 50%;
    color:#FF5C00 ;
    right: 0; /* Position at the right end */
    transform: translateY(-50%);
  }
  
  
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }
  
  .image {
    height: 50px;
  }

  // sidebar css

  ion-menu{
    z-index: 1;
    margin-top: 6%;
  }
  @media screen and (max-width:750px) {
    ion-menu{
      z-index: 1;
      margin-top: 25%;
    }
  }
 
  .toolbar {
  // background-color: #333;
  background-image: url("/assets/counter-background.png");
  height: 100%;
  }
  #side-btn{
    width: 70%;
    padding: 5%;
    margin-top: 2%;
  }