<div class="container">

  <!-- <ion-header [translucent]="true">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
          <ion-col size="6" size-lg="6" size-md="6">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <span style="padding: 1%;"> Akshay</span>
            </ion-avatar>
          </ion-col>

          <ion-col size="6" size-lg="6" size-md="6">
            <span class="toolbar">
              <a href="/home"><ion-icon name="home-outline"></ion-icon> Home</a> </span> <span class="toolbar"> <a
                href="/service">
                <ion-icon name="construct-outline"></ion-icon> Service</a> </span> <span class="toolbar"> <a
                href="/exp">
                <ion-icon name="code-working-outline"></ion-icon> Work</a> </span> <span class="toolbar"> <a
                href="/reachus">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Reach Us</a> </span>
          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header> -->


      <ion-header  id="main-content">
    <ion-toolbar color="dark">

      <ion-title class="fadeInElement"
        style="font-family: cursive; font-weight:700; font-size: 26px; display: flex; align-items: center;">
        <ion-row class="fadeInElement"
          style="font-family: cursive; font-weight: 700; font-size: 26px; align-items: center;">
           
          <ion-col size="9" size-lg="5" size-md="3" size-sm="7">           
            
              <div style="display: flex; align-items: center;">
                <!-- <ion-avatar > -->
                <img class="logo-image" alt="Silhouette of a person's head" src="\assets\frontend-dev.avif" />
                <span style="margin-left: 10px;">Akshay</span>
              <!-- </ion-avatar> -->
              </div>
              
          </ion-col>

          <!--  MENU ICON WITH SIDEBAR-->

          <ion-col size="1" size-sm="1">
                  <div class="menu-sidebar">
                    <ion-buttons slot="end">
                      <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                  </div>

          </ion-col>


          <ion-col size="6" size-lg="6" size-md="6" >
            <span class="topbar-toolbar">
              <a href="/home"><ion-icon name="home-outline"></ion-icon> Home</a> </span>
               <span class="topbar-toolbar"> <a
                href="/service">
                <ion-icon name="construct-outline"></ion-icon> Service</a> </span> 
                
                <span class="topbar-toolbar"> <a
                href="/exp">
                <ion-icon name="code-working-outline"></ion-icon> Work</a> </span> <span class="topbar-toolbar"> <a
                href="/reachus">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Reach Us</a> </span>
          </ion-col>

        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content">

    <ion-content class="ion-padding">

                <div class="toolbar">
                  <a class="button" id="side-btn" href="/home">Home</a> <br>
                <a class="button" id="side-btn" href="/service">Service</a> <br>
                <a class="button" id="side-btn" href="/exp">Work</a> <br>
                <a class="button" id="side-btn" href="/reachus">ReachUs</a>
                </div>

    </ion-content>
  </ion-menu>
  <br>
  <!-- <div class="blur-effect"></div> -->

  <ion-grid >
    <ion-row class="middle-content1" >

      <ion-col class="fixed-column" size="12" size-sm="12" size-md="12" size-lg="4" >

        <ion-card color="dark" class="card1">
          <ion-card-title style="padding: 3%; font-family: sans-serif; font-weight: 600;">Akshay</ion-card-title>
          <!-- <img style="width: 44%; border-radius: 50%; padding: 2%;" alt="Silhouette of mountains"
            src="\assets\frontend-dev.avif" /> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
              <!-- Portfolio Icon -->
              <path d="M5 2h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm0 2v14h14V4H5zm6 6h2v2h-2V10zm0 4h2v2h-2v-2zm-4-4h2v2H7V10zm0 4h2v2H7v-2zm8-8h2v2h-2V6zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2z" fill="currentColor">
                <animateTransform 
                  attributeName="transform" 
                  type="rotate" 
                  from="0 12 12" 
                  to="360 12 12" 
                  dur="2s" 
                  repeatCount="indefinite" 
                />
              </path>
            </svg>
            
            <!-- <video class="video" src="\assets\20764468.mp4" [muted]="'muted'" autoplay loop></video> -->
          <ion-card-header>

            <ion-card-subtitle>Mean Stack Developer</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p style="text-align: center; line-height: 1.7; font-family: Libre Franklin; font-size: 17px; padding: 4%;">
              Strong with Front End Development. Mean Stack Developer. Loves to Code, Develop and Create.
            </p>
            <span style="margin-top: 3%;">
              <ion-icon style="width: 30%; height: 40px;" name="logo-linkedin"></ion-icon>
              <ion-icon style="width: 30%; height: 40px;" name="logo-github"></ion-icon>
            </span>

          </ion-card-content>
        </ion-card>

     
      </ion-col>

     

      <ion-col size="12" size-sm="12" size-md="12" size-lg="8" class="scrollable-column">

        <p style="color: white; font-family: Libre Franklin; font-size: 40px; padding-left: 2%;">
          Lets Work <b style="color: #FF5C00; font-family: Libre Franklin;">Together!</b>
        </p>
        <p style="color: white; font-family: Libre Franklin; padding-left: 2%; line-height: 1.7; font-size: 20px;">
          Hey, Hi There !
          I
          thrive on creating innovative and user-centric solutions that leave a lasting impact. My journey into
          the
          world of
          web development has been shaped my technical expertise.
          In the fast pace moving world, more than competion , I work for my personal satisfaction.
          With the growing TechNology, I take all the things that are necessary for me.
          If you want to know more stuff about me Let's hop down.
        </p>
        <p style="font-family: Lohit Bengali; color:#FF5C00; margin-left: 5%; font-size: 40px;">
          <span> 3+</span> <span style="margin-left: 17%;"> 10+</span> <br>
        </p>
        <span style="color: white; padding: 5%; "> Years of experience </span>
        <span style="color: white;">Projects</span>


        <ion-item-divider style="background-color: #FF5C00;"></ion-item-divider>


        <div class="about-me">
          <h2 style="font-size: 40px; color: white; padding-left: 2%;">About
            <span style="color: #FF5C00;">
              <b>Me</b>
            </span>
          </h2>

          <p style="font-family: Libre Franklin; font-size: 42px; color: white; padding-left: 2%;">
            I'm someone who finds profound joy in the art of design and coding
          </p>

          <p style="color: white; padding-left: 2%; line-height: 1.7; font-family: Libre Franklin;">
            With an unwavering passion for crafting beautiful and simple creations, I pour my heart into every project I
            undertake. My work is a reflection of my dedication to merging aesthetics with user-centered functionality.
            With each design and code, I aim to create solutions that not only look pleasing but also make life easier
            for
            users. Welcome to my world of elegant simplicity, where every line of code and every pixel hold the essence
            of
            my love for what I do.
          </p>

        </div>

        <ion-item-divider style="background-color: #FF5C00;"></ion-item-divider>

        <app-skills></app-skills>


        <ion-item-divider style="background-color: #FF5C00;"></ion-item-divider>

        <!-- FEATURE PROJECT -->

        <div class="Feature-Project">
          <h2 style="font-size: 40px; color: white; padding: 2%;">Featured
            <b style="color: #FF5C00;">
              Projects
            </b>
           <span style="padding: 10%;">
            <a class="view-work" href="/exp">View Full Archive
              <ion-icon name="arrow-up-outline"></ion-icon>
            </a></span> 
          </h2>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-card class="card1-content">
                  <img alt="Silhouette of mountains" src="\assets\wealth.png" />
                  <ion-card-header>
                    <ion-card-title>
                      <h3 style="font-weight: 600; font-family: sans-serif;"> Wealth Bridge Consultancy </h3>
                    </ion-card-title>
                    <ion-card-subtitle style="color: black; font-weight: 500; font-size: large;">
                      Web Appliaction </ion-card-subtitle>
                  </ion-card-header>

                  <ion-card-content>
                    <p class="card-content">
                      Here's a Web application for a accounting firm web personalization. Also we have a software for
                      its
                      pipeline project. This web application have multiple features and build with Angular 13.
                      With strong animations and professional css as per Qatar regulations and with the
                      Customer-obsessed Themes and System design as per their standards.
                    </p>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Angular</ion-label>
                      <ion-icon name="logo-angular"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>HTML</ion-label>
                      <ion-icon name="logo-html5"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>CSS</ion-label>
                      <ion-icon name="logo-css3"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>JavaScript</ion-label>
                      <ion-icon name="logo-javascript"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Angular Material</ion-label>
                      <ion-icon name="logo-angular"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>BootStrap</ion-label>
                      <ion-icon name="desktop-outline"></ion-icon>
                    </ion-chip>

                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="12" size-sm="12">
                <ion-card class="card1-content">
                  <img alt="Silhouette of mountains" src="\assets\shopEZ.png" />
                  <ion-card-header>
                    <ion-card-title>ShopEZ</ion-card-title>
                    <ion-card-subtitle>E-Commerce</ion-card-subtitle>
                  </ion-card-header>

                  <ion-card-content>
                    <p class="card-content">
                      Here's a small text description for the ShopEZ. This is a E-Commerce for men and women specalized
                      for
                      Stylish and look feel rich products arena. Build with user friendly and catches all user details,
                      for strong recommendation according to their previous searched products.
                    </p>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Angular</ion-label>
                      <ion-icon name="logo-angular"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>HTML</ion-label>
                      <ion-icon name="logo-html5"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>CSS</ion-label>
                      <ion-icon name="logo-css3"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>JavaScript</ion-label>
                      <ion-icon name="logo-javascript"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Angular Material</ion-label>
                      <ion-icon name="logo-angular"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>BootStrap</ion-label>
                      <ion-icon name="desktop-outline"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Ionic</ion-label>
                      <ion-icon name="logo-ionic"></ion-icon>
                    </ion-chip>
                    <ion-chip>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-label>Web Secure</ion-label>
                      <ion-icon name="document-lock-outline"></ion-icon>
                    </ion-chip>


                  </ion-card-content>
                </ion-card>
              </ion-col>


            </ion-row>
          </ion-grid>
        </div>


        <ion-item-divider style="background-color: #FF5C00;"></ion-item-divider>


        <div class="contact-me">
          <h2 style="font-size: 40px; color: white; padding: 2%;">Contact
            <b style="color: #FF5C00;">
              Me
            </b>
          </h2>

          <p style="padding-left: 2%; color: white;">Lets get in touch</p>

          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
                <form [formGroup]="contactForm">

                  <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                    <ion-input fill="outline" label="Email" label-placement="floating" placeholder="Enter Email" formControlName="email"></ion-input>
                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                    <ion-input fill="outline" label="Name" label-placement="floating" placeholder="Enter Name" formControlName="name"></ion-input>
                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                    <ion-input fill="outline" label="Phone " label-placement="floating" type="number" placeholder="000" formControlName="phone"></ion-input>
                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6" size-md="6">
                    <ion-input fill="outline" label="City or State" label-placement="floating"
                      placeholder="Enter City or State" formControlName="city"></ion-input>
                  </ion-col>
    
                  <ion-textarea fill="outline" label="Content" labelPlacement="floating" placeholder="Enter text" formControlName="text"></ion-textarea>
  
                  <button type="submit"  class="button" (click)="submitForm()" id="open-loading" [disabled]="contactForm.invalid"[class.disabled]="contactForm.invalid">Submit</button>
  <ion-loading trigger="open-loading" message="Submitting..." [duration]="3000" spinner="circles"></ion-loading>
                </form>
              </ion-col>
             

            </ion-row>

          </ion-grid>

          

        </div>

        <!-- <button class="scroll-to-top" (click)="scrollToTop()">
          <img class="image" src="\assets\icons\image8.2.png" alt="Scroll to Top">
        </button> -->
        
      </ion-col>
      <ion-footer >
        <ion-toolbar color="dark">
          <ion-title>
  
            <span style="text-align: center;">
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
              </svg> 2024 Akshay</p>
            </span>
            <div style="text-align: center;">
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;" href="/home"><ion-icon name="home-outline"></ion-icon> Home</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;" href="/service">
                  <ion-icon name="construct-outline"></ion-icon> Service</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;"
                href="/exp">
                <ion-icon name="code-working-outline"></ion-icon> Work</a>
              </span> 
              <span style="padding: 1%;">
                <a style="text-decoration: none; color: #FF5C00;"
                href="/reachus">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon> Reach Us</a>
              </span>
            </div>
           
               
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-row>

    
    <!-- <app-skills></app-skills> -->


  </ion-grid>




</div>